# dependencies
node_modules/
.pnpm-store/

# builds
client/dist/
client/.vite/
client/.cache/

# gh-pages artifacts
.gh-pages-cache/
gh-pages-*.tmp
*.publish

# env / local
.env
.env.*

# pixi
/client/public/
.pixi/

# uploads & generated assets
server/hydrants.db

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# system
.DS_Store
Thumbs.db
